@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h1 class="text-center">Przeglądarkowa gra RPG</h1>
<h3 class="text-center">Rafał Sekular</h3>
<ol>
    <li>
        <b>Krótkie uzasadnienie wyboru:</b>
        <p>
            Kiedyś robiłem podobny projekt na przedmiot PTW, postanowiłem go przepisać na .NET i rozbudować o nowe funkcje.
        </p>
    </li>
    <li>
        <b>Krótki opis:</b>
        <p>
            Gra z gatunku RPG adresowana na przeglądarki internetowe. Gracze wcielają się w role starożytnych wojowników walczących o sławę i bogactwo w fantastycznym, pełnym mitycznych potworów świecie.
        </p>
    </li>
    <li>
        <b>Wymagania funkcjonalne:</b>
        <ul>
            <li>
                Rejestracja nowych kont
            </li>
            <li>
                Logowanie na konto oraz wylogowania z konta
            </li>
            <li>
                Wyświetlanie i zmiana obrazka gracza
            </li>
            <li>
                Wyświetlanie i ulepszanie statystyk gracza
            </li>
            <li>
                Wyświetlanie i interakcja z ekwipunkiem gracza
            </li>
            <li>
                Kupowanie i sprzedawanie wyposarzenia gracza
            </li>
            <li>
                Zarabianie pieniędzy i zdobywanie doświadczenia na wyprawach
            </li>
            <li>
                Walki PvP na arenie
            </li>
            <li>
                Budowanie budynków i sprzedaż surowców
            </li>
            <li>
                System wiadomości prywatnych
            </li>
            <li>
                Wyświetlanie rankingu graczy według poziomu doświadczenia
            </li>
            <li>
                Panel administratora do dodawania/usuwania newsów ze strony głównej oraz zarządzania grą
            </li>
        </ul>
    </li>
</ol>
