@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:rafalsekular96@gmail.com">Rafalsekular96@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rafalsekular96@gmail.com">Rafalsekular96@gmail.com</a>
</address>